<h1><%= @artist.name %></h1>
<div class="artists">
<% @artist.songs.each do |song| %>
<ul>
  <li>
    <%= song.title %>
    <%= "# #{Ranking.find(song.id).rank} on #{Ranking.find(song.id).billboard.name}" %>
  </li>
</ul>
<% end %>
</div>
<h3><%= link_to "Back", artists_path%>
