// Place all the styles related to the billboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
   background-image: linear-gradient(to bottom left,#c82910, purple),
 }


h1 {
  display: flex;
  justify-content: center;
  color: cyan;
  font-size: 3em;

}

h3 {
  text-align: center;
  font-size: 2em;
}

.billboards {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 100px;
  font-size: 2.25em;
}

.homechart {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 100px;
  font-size: 2.25em;
  
}

.billboard{
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 20px;
  font-size: 2em;
}

a {
  color: white;
}

a:visited{
  color:white;
}