<h1><%= @billboard.name %></h1>

<div class="billboard">
<% @rankings.each do |x| %>
  
  <%= "#{x.rank}:  #{x.song.title} By: #{x.song.artist.name}" %>
  <br />
  <br />
<% end %>
</div>

<h3><%= link_to "Back to Billboards", billboards_path%></h3>