<h1><%= @billboard.name %></h1>

<% @rankings.each do |x| %>
  
  <%= "#{x.rank}:  #{x.song.title} By: #{x.song.artist.name}" %>
  <br />
  <br />
<% end %>

<%= link_to "Back to Billboards", billboards_path%>